@import '../styles/mixins';
@import '../styles/variables';

.AllProducts {
    @include center-vertically;
    // height: 100vh;
    flex-direction: row;
    position: relative;
    
    &-types {
        position: absolute;
        top: 0;
        left: 0;
        &-display {
            font-size: 1.5rem;
            margin-bottom: 6rem;
            &-current{                
                text-decoration: underline;
            }
        }
    }

    ul {
        list-style:none;
        padding-left:0;
        width: 150px;
        li {
            margin-bottom: 1rem;
            font-size: 1.5rem;
            @include pointer;
        }
    }

    &-Products {
        display: flex;
        flex-direction:  column;
        &-row {
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-left: auto;
            justify-content: flex-start;
        }
    }
}

// @media only screen and (min-width: 701px) {
//     .AllProducts {
//         height: 100vh;
//     }
// }

@media only screen and (max-width: 700px) {
    .AllProducts {
        &-types {
            position: fixed;
            top: 90px;
            left: 0;
        }

        &-types {
            &-display {
                font-size: 1.2rem;
            }
        }


        ul {
            width: 115px;
            li {
                font-size: 1.1rem;
            }
        }
        &-Products {
            &-row {
                position: relative;
                // left: 100px;
                flex-direction: column;
                width: 60%;
                margin-left: auto;
                margin-bottom: 0.1rem;
            }
        }
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    width: 170px;

    @media only screen and (max-width: 700px) {
    width: 115px;
    }

    &:after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $color-primary-dark;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &:hover:after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
  }