@import '../styles/mixins';

.Home {
    height: 100vh;
    @include center-vertically;
    flex-direction: row;
}

@media only screen and (max-width: 700px) {
    .Home {
        flex-direction: column;
        &-info {
            margin-bottom: 1rem;
        }
        img {
            width: 80%;
        }
    }
}