@import '../../styles/variables';

.ReviewForm {
    border: 1px solid $color-primary-light;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    .input-feedback {
        color: red;
    }

    textarea {
        width: 98.5%;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
}