@import '../styles/mixins';

.ItemInCart {
    &-detail {
        border: 1px solid rgb(185, 192, 185);
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        
        img {
            border: 1px solid black;
            width: 50%;
        }
        &-quantity {
            @include center-vertically;
            flex-direction: row;
            button {
                height: 30px;
            }
        }

        &-price {
            @include center-vertically;
        }
    }
}

@media only screen and (max-width: 700px) { 
    .ItemInCart{
        &-detail{
            @include center-vertically;
        }
    }

}