.Product {
    width: 25%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    a {
        text-decoration: none;
        color: inherit;
    }
    &-info {
        &-name {
            font-size: 1.2rem;
            text-align: center;
        }
        &-data {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &-price {
                margin-top: 0.4rem;
            }
        }
    }
    img {
        border: 1px solid black;
        width: 100%;
        height: 70%;
    }
}

@media only screen and (max-width: 700px) {
    .Product {
        width: 90%;
        margin-bottom: 1rem;
        &-info {
            &-data {
                &-price {
                    margin-top: 0.35rem; 
                }
            }
        }
    }
}