@import '../styles/variables';

.Review {
    border: 1px solid $color-primary-light;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    &-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-star {
            margin-top: -0.2rem;
        }
    }
    &-body {
        border-top: 1px solid $color-primary-light;
    }
}

@media only screen and (max-width: 700px) {
    .Review {
        &-detail {
            flex-direction: column;
        }
        &-body {
            margin-top: 1rem;
        }
    }
}